##################################
# Visual Studio / .NET
##################################
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

##################################
# NuGet
##################################
packages/
*.nupkg
.nuget/

##################################
# ASP.NET Core
##################################
appsettings.*.json
!appsettings.json